{% extends 'register/base.html' %}

{% block content %}

    <h1 style="text-align: center;">Welcome to the Coding Dojo Wall</h1>
    <div class="sub">
        <div class="subbox">
            <h4>Create Account</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, enim odio veritatis pariatur eum, maiores omnis, numquam eligendi eaque ipsa quibusdam adipisci quod laudantium a esse? Maxime eos est enim.</p>
        </div>
        <div class="subbox">
            <h4>Post Messages</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deserunt perferendis recusandae laudantium quis totam quia odio nihil, sunt deleniti itaque cupiditate distinctio reiciendis ratione impedit cum facere vitae. Laudantium?</p>
        </div>
        <div class="subbox">
            <h4>Review Books</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deserunt perferendis recusandae laudantium quis totam quia odio nihil, sunt deleniti itaque cupiditate distinctio reiciendis ratione impedit cum facere vitae. Laudantium?</p>
        </div>
    </div>
    
{% endblock %}