{% extends 'register/base.html' %}

{% block content %}
<script>
  $(document).ready(function() {
    $('#register').submit(function(e){
      if ($(".xd")[0] || $('#first_name').val().length <1 || $('#last_name').val().length <1 || $('#email').val().length <1 || $('#password').val().length <1 ||$('#passconfirm').val().length <1 ){
        $('.od').remove();
        e.preventDefault()
        if ($('#first_name').val().length <1){
          $('#first_name').after("<p class='firstvalid od'>Enter a first name!</p>")
        }
        if ($('#last_name').val().length <1){
          $('#last_name').after("<p class='lastvalid od'>Enter a last name!</p>")
        }
        if ($('#password').val().length <1){
          $('#password').after('<p class="passwordvalid od">Enter a password!</p>')
        }
        if ($('#passconfirm').val().length <1){
          $('#passconfirm').after("<p class='passconfirmvalid od'>Confirm your password!</p>")
        }
        if ($('#email').val().length <1){
          $('#email').after("<p class='emailvalid od'>Enter an email!</p>")
        }
      }
    })
    $('#password').keyup(function(e){
      $(this).next('.flash').remove();
      if ($('#password').val().length <8) {
        $('.passwordvalid').remove();

        $('#password').after('<p class="passwordvalid xd">Password must be 8 characters!</p>')
      }
      else {
        $('.passwordvalid').remove();
      }
    })
    $('#passconfirm').keyup(function(e){
      $(this).next('.flash').remove();

      if ($('#passconfirm').val() != $('#password').val()) {
        $('.passconfirmvalid').remove();

        $('#passconfirm').after("<p class='passconfirmvalid xd'>Passwords don't match!</p>")
      }
      else {
        $('.passconfirmvalid').remove();
      }
    })
    $('#first_name').keyup(function(e){
      $(this).next('.flash').remove();

      if ($('#first_name').val().length <2 ) {
        $('.firstvalid').remove();

        $('#first_name').after("<p class='firstvalid xd'>First name must be 2 characters!</p>")
      }
      else {
        $('.firstvalid').remove();
      }
    })
    $('#last_name').keyup(function(e){
      $(this).next('.flash').remove();

      if ($('#last_name').val().length <2 ) {
        $('.lastvalid').remove();

        $('#last_name').after("<p class='lastvalid xd'>Last name must be 2 characters!</p>")
      }
      else {
        $('.lastvalid').remove();
      }
    })
    $('#email').keyup(function(e){
      $(this).next('.flash').remove();

      var email = new RegExp('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,4}$');

      if (!email.test($('#email').val())) {
        $('.emailvalid').remove();

        $('#email').after("<p class='emailvalid xd'>Please enter a valid email!</p>")
      }
      else {
        $.ajax({
            method: "POST",
            url: "/check",
            data: $(this).parent().parent().serialize(),
            success: function (response) {
              if(response =="true"){
                $('.emailvalid').remove();
                $('#email').after("<p class='emailvalid xd'>Email taken!</p>")
              } else {
                $('.emailvalid').remove();
              }
             
            }
        })
      }
    })
  })
</script>
<div id="wrapper">
  <div id="reg">
    <h2>Register</h2>
    <form action="/register" method="POST" id="register">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" id="email" value="{{request.session.email}}">
        {% if messages %}
        {% for message in messages %}
        {% if 'email' in message.tags %}
        <p class="flash">{{ message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" name="first_name" id="first_name" value="{{request.session.name1}}">
        {% if messages %}
        {% for message in messages %}
        {% if 'first_name' in message.tags %}
        <p class="flash">{{ message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" name="last_name" id="last_name" value="{{request.session.name2}}">
        {% if messages %}
        {% for message in messages %}
        {% if 'last_name' in message.tags %}
        <p class="flash">{{ message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
        {% if messages %}
        {% for message in messages %}
        {% if 'password' in message.tags %}
        <p class="flash">{{ message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="passconfirm">Confirm Password:</label>
        <input type="password" class="form-control" id="passconfirm" name="passconfirm">
      </div>
      <button type="submit" class="btn btn-default green">Register</button>
    </form>
  </div>
</div>
</body>
</html>
{% endblock %}