{% extends 'register/base.html' %}

{% block content %}
    {%if followers%}
    {%for i in followers%}
    <div class="follows">
        <a href="/users/{{i.follower.id}}"><h4>{{i.follower.first_name}} {{i.follower.last_name}}</h4></a>
        <p>{{i.follower.description}}</p>
    </div>
    {%endfor%}
    {%endif%}
    {%if followings%}
    {%for i in followings%}
    <div class="follows">
        <a href="/users/{{i.following.id}}"><h4>{{i.following.first_name}} {{i.following.last_name}}</h4></a>
        <p>{{i.following.description}}</p>
    </div>
    {%endfor%}
    {%endif%}
{% endblock %}