{% extends 'register/base.html' %} {% block content %}
<script>
    $(document).ready(function () {
        $('#container').on('click', 'p', function () {
            if ($(this).siblings('.commentbox').is(':hidden')) {
                $(this).siblings('.commentbox').slideDown();
            }
            else {
                $(this).siblings('.commentbox').slideUp();
            }
        });
        $('#form1').submit(function (e) {
            e.preventDefault()
            $.ajax({
                method: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response, data) {
                    if (response.substring(27, 29) == "sh") {
                        $('.flash').remove()
                        $('#form1 textarea').after(response)
                    }
                    else {
                        $('#form1').after(response);
                        $('textarea').val('')
                        $('.flash').remove()
                    }
                }
            })
        });
        $('#container').on('submit', '.message .deletemessage', function (e) {
            e.preventDefault()
            $.ajax({
                method: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $('.message').filter(function () { return this.id == response }).remove();
                }
            })
        });
        $('#container').on('submit', '.message .commentform', function (e) {
            var message_id = $(this).attr('mid');
            e.preventDefault()
            $.ajax({
                method: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.substring(27, 29) == "sh") {
                        $('.flash').remove()
                        var message = $('.message').filter(function () { return this.id == message_id })
                        message.children().last().after(response)
                    }
                    else {
                        $('.flash').remove()
                        var message = $('.message').filter(function () { return this.id == message_id })
                        $(response).insertBefore(message.children().last())
                        $('textarea').val('')
                    }
                }
            })
        });
        $('#container').on('submit', '.deletecomment', function (e) {
            e.preventDefault()
            $.ajax({
                method: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    $('.comment').filter(function () { return this.id == response }).remove();
                }
            })
        });
    });
</script>
<div class="profilebox">
    <table class="table">
        <tr>
            <center><img class="mainpic" src={{user.image.url}} data-toggle="modal" data-target="#picture"></center>
        </tr>
        <tr>
            <td>Name: </td>
            <td>
                <h4>{{user.first_name}} {{user.last_name}}</h4>
            </td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Joined: </td>
            <td>{{user.created_at}}</td>
        </tr>
        <tr>
            <td>Bio: </td>
            <td>{{user.description}}</td>
        </tr>
        {% if followings > 0 %}
        <tr>
            <td>Following: </td>
            <td>
                <a href="/users/{{user.id}}/followings">{{followings}}</a>
            </td>
            </td>
        </tr>
        {%endif%} {% if followers > 0%}
        <tr>
            <td>Followers: </td>
            <td>
                <a href="/users/{{user.id}}/followers">{{followers}}</a>
            </td>
        </tr>
        {%endif%}
    </table>
    <div class="buttons">
        <a href="/books/user/{{user.id}}">
            <button class="btn btn-default yellowbutton" style="margin: 10px">My Books</button>
        </a>
        {%if request.session.id != user.id %} {%if not isfollowing%}
        <a href="/users/{{user.id}}/follow" id="follow">
            <button class="btn btn-default commentbutton" style="margin: 10px">Follow</button>
        </a>
        {%endif%} {%if isfollowing%}
        <a href="/users/{{user.id}}/unfollow" id="unfollow">
            <button class="btn btn-default delete" style="margin: 10px">Unfollow</button>
        </a>
        {%endif%} {%endif%} {% if request.session.id == user.id %}
        <a href="/users/{{user.id}}/edit">
            <button class="btn btn-default delete" style="margin: 10px">Edit Info</button>
        </a>
        {% endif %}
    </div>
</div>
<div id="container" class="return">

    <form action="/users/{{user.id}}/message" id="form1" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="messagebox">Post a message</label>
            <textarea class="form-control" rows="4" id="messagebox" name="messagebox"></textarea>
        </div>
        <button type="submit" class="btn btn-default green">Post a message</button>
    </form>
    {%for i in mymessages%}
    <div class="message" id="{{i.id}}">
        <a href="/users/{{i.poster.id}}">
            <img src={{i.poster.image.url}} class="smol">
            <h4>{{i.poster.first_name}} {{i.poster.last_name}}</h4>
        </a>{% if i.poster.id != user.id%}
        <h4 style="margin-top: 5px;"> @{{user.first_name}} {{user.last_name}}</h4>{%endif%}
        <h5>on {{i.created_at}}</h5>
        {%if request.session.id == i.poster.id%}
        <form action="/users/{{user.id}}/deletemessage" method="post" class="deletemessage">
            {% csrf_token %}
            <input type="hidden" name='message_id' value="{{i.id}}">
            <button type="submit" class="btn btn-default delete"><i class="fa fa-trash"></i></button>
        </form>
        {%endif%}
        {% if i.review %}
        <p>{{i.poster.first_name}} reviewed <a href="/books/{{i.review.book.id}}">{{i.review.book.title}}</a></p>
        <p>"{{i.review.text}}"</p>
        <p>Rating: 
            {% for j in range %}
                {% if i.review.stars >= j %}
                    ★   
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
            </p>
        {% else %}
        <p>{{i.text}}</p>
        {% endif %}

        {% for j in comments%} {% if j.message_id == i.id%}
        <div class="comment" id="c{{j.id}}">
            <a href="/users/{{j.poster.id}}">
                <img src={{j.poster.image.url}} class="smol">
                <h4>{{j.poster.first_name}} {{j.poster.last_name}}</h4>
            </a>
            <h5>on {{j.created_at}}</h5>
            {%if request.session.id == j.poster.id%}
            <form action="/users/{{user.id}}/deletecomment" method="post" class="deletecomment">
                {% csrf_token %}
                <input type="hidden" name='comment_id' value="{{j.id}}">
                <button type="submit" class="btn btn-default delete"><i class="fa fa-trash"></i></button>
            </form>
            {%endif%}
            <p>{{j.text}}</p>
        </div>
        {%endif%} {%endfor%}
        <div class="commentbox">
            <form action="/users/{{user.id}}/comment" method="post" class="commentform" mid="{{i.id}}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name='message_id' value="{{i.id}}">
                    <label for="comment">Post a comment</label>
                    <textarea class="form-control" rows="3" name="commentbox"></textarea>
                </div>
                <button type="submit" class="btn btn-default commentbutton">Post a comment</button>
            </form>
        </div>
    </div>
    {%endfor%}
</div>
{%if request.session.id == user.id %}
<div class="modal" tabindex="-1" role="dialog" id="picture">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Profile Picture</h5>

            </div>
            <form action="/users/change" id="pic" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='newimg'>Upload image</label>
                        <input type="file" name='newimg' id="newimg"/>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" form="pic" class="btn btn-default green">Change</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endblock%}