{% extends 'register/base.html' %}

{% block content %}
        <div id="reg">
        <h2>Add a New Book and Review</h2>
        <form action="/books/addbook" method="POST" id="myform">
            {% csrf_token %}
            <div class="form-group">
            <label for="title">Book Title:</label>
            <input type="text" class="form-control" name="title" value="{{request.session.title}}">
            {% if messages %}
                {% for message in messages %}
                {% if 'title' in message.tags %}
                    <p>{{ message}}</p>
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            <div class="form-group">
            <label for="author">Enter Author:</label>
            <input type="text" class="form-control" name="author" value="{{request.session.author}}">
            
            </div>
            <div class="form-group">
                <label for="authorlist">Select Author from list:</label>
                <select class="form-control" name="authorlist" value="{{request.session.authorlist}}">
                    <option value="" selected="selected"> </option>
                
                    {% for i in authors%}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {%endfor%}
                </select>
             
                {% if messages %}
                    {% for message in messages %}
                        {% if 'author' in message.tags %}
                            <p>{{ message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
            <label for="review">Review:</label>
            <textarea name="text" class="form-control" cols="30" rows="5">{{request.session.text}}</textarea>
            {% if messages %}
                {% for message in messages %}
                    {% if 'review' in message.tags %}
                        <p>{{ message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            <div class="form-group">
                    <label for="stars">Rating:</label>
                    <select class="form-control" name="stars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
            </div>
        </form>
        <div class="buttons">
            <button type="submit" form="myform" class="btn btn-default yellowbutton" style="margin: 20px">Add Review</button>
            <a href="/books"><button class="btn btn-default  green" style="margin: 20px">Go Back</button></a>
        </div>
    </div>  
{% endblock %}