{% extends 'register/base.html' %}

{% block content %}
  <div id="wrapper">
    <div id="reg">
      <h2>Recent Book Reviews</h2>
        {%for i in reviews%}
          <a href="/books/{{i.book.id}}"><h4>{{i.book.title}}</h4></a>
          <div class="reviewbox">
            <div class="stars">
            <p>Rating: 
            {% for j in range %}
                <p>
                {% if i.stars >= j %}
                    ★   
                {% else %}
                    ☆
                {% endif %}
                </p>
            {% endfor %}
            </p>
            </div>
            <p><a href="/books/user/{{i.poster.id}}">{{i.poster.first_name}}</a> says: {{i.text}}</p>
            <p><span>{{i.created_at}}</span></p>
          </div>
        {%endfor%}
    </div>
    <div id="log" class="height">
      <h2>Reviewed Books</h2>
      <a href="/books/add"><p>Add a book and review</p></a>
      <div class="booklist">
        {%for i in books%}
        <a href="/books/{{i.id}}"><p>{{i.title}}</p></a>
        {%endfor%}
      </div>
    </div>  
  </div>  
{%endblock%}